body {
  background-color: hotpink;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

#branches {
  background-color: darkslateblue
}

h2 {
  color: goldenrod;
}

.btn {
  transition-duration: 0.4s;
  border-color: mediumslateblue;
  background-color:peru;
}

.btn:hover {
  background-color: deeppink;
  color: whitesmoke;
}