body {
  background-color: rgb(53, 49, 49);
  padding: 30px;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

h2 {
  color: goldenrod;
}

.clickable:hover {
  background-color: goldenrod;
}

.clickonce:hover {
  color: goldenrod;
}

#branches {
  background-color: darkslateblue;
  padding: 40px;
}

.btn {
  transition-duration: 0.4s;
  border-color: mediumslateblue;
  background-color:peru;
  font-weight: bold;
  padding: 3px;
  margin: 10px;
}

.btn:hover {
  background-color: deeppink;
  color: whitesmoke;
}

.style {
  transition-duration: 0.4s;
  border-color: mediumslateblue;
  background-color:peru;
  padding: 5px;
  margin: 7px;
  font-weight: bold;
}

.style:hover {
  background-color: deeppink;
  color: whitesmoke;
}

#note-content {
  
  width: 200px;
  height: 100px;
  padding: 50px;
  font-size: 20px;
  color: azure;
  background-color: rgb(40,40,40);
  margin-bottom: 10px;
}


#philosopher-dropdown{
  width: 300px;
  height: 100px;
  background-color: darkslateblue;
  color: black;
  font-weight: bolder;
}

.info {
  font-size: 15px;
  padding: 5px;
  color:black ;
}

.error {
  background-color: brown;
  position: fixed;
  top: 1em;
  left: 1em;
  color: aliceblue;
  font-size: 20px;
  padding: 5px;
  margin: 20px;
}

.comment {
  color: whitesmoke;
  font-weight: 900;
  font-size: large;
  margin: 10px;
}

#note-container {
  background-color: rgb(40,40,40);
  border-color: black;
  border-style: double;
  position: fixed;
  right: 50px;
  top: 20px;
}

#notes { 
  margin: 10px;
}

#notes:hover {
  color: goldenrod;
}
