body {
  background-color: grey;
  padding: 15px;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

#branches {
  background-color: darkslateblue
}

h2 {
  color: goldenrod;
}

.btn {
  transition-duration: 0.4s;
  border-color: mediumslateblue;
  background-color:peru;
  width: 100px;
}

.btn:hover {
  background-color: deeppink;
  color: whitesmoke;
}

#note-submit {
  text-align: center;
}

.secret {
  background-color:deepskyblue;
  font-size: 15px;
  padding: 5px;
}